# Node.js
node_modules/
bun.lock
dist/

.vscode/

.env

docker-compose.yml

tsconfig.build.json
tsconfig.json

nest-cli.json

full-authorization.postman_collection.json

.prettier
.prettierrc

prisma/migrations

__generated__

.npmrc